* {
    margin: 0 auto;
    padding: 0, auto;
}

body {
    height: 100%;
}

main .container {
    display: block;
    padding: 0;

}

.about-accor {
    margin: 0 auto;
    width: 70%;
}

.about-accor h1, h3 {
    text-align: center;
}

.accor-wrapper {
    width: 70%;
    margin: 20px auto;
}
.accor-wrapper .accor-body {
    width: calc(100% - 40px);
    margin: 0 auto;
    height: 0;
    color: rgba(0, 0, 0, 0);
    background-color: #bfffd2;
    line-height: 18px;
    padding: 0 30px;
    box-sizing: border-box;
    transition: color 0.5s, padding 0.5s;
    overflow: hidden;
    font-family: Verdana, sans-serif;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2), 0 10px 16px rgba(0,0,0,0.2);
}
.accor-wrapper .accor-body p {
    margin: 0 0 10px;
}
.accor-wrapper label {
    cursor: pointer;
    background-color: #33b749;
    display: block;
    padding: 15px 20px;
    width: 100%;
    color: #bfffd2;
    font-weight: 300;
    box-sizing: border-box;
    z-index: 100;
    font-family: Verdana, sans-serif;
    font-size: 18px;
    margin: 0 0 5px;
    transition: color .35s;
}
.accor-wrapper label:hover {
    color: #FFF;
}
.accor-wrapper input{
    display: none;
}
.accor-wrapper label:before {
    content: '\276F';
    float: right;
}
.accor-wrapper input:checked + label {
    background-color: #33b749;
    color: #FFF;
    box-shadow: 0 8px 26px rgba(0,0,0,0.4), 0 28px 30px rgba(0,0,0,0.3);
}
.accor-wrapper input:checked + label:before {
    transition: transform .35s;
    transform: rotate(90deg);
}
.accor-wrapper input:checked + label + .accor-body {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
}

footer {
    position: absolute;
    height: 30px;
    width: 100%;
    background-color: #fff;
    color: #000;
    border-top: 3px dashed #33b749;
    position: absolute;
    left: 0;
    bottom: 0;
  }

 .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;

  }

  .foo-logo img {
    left: 450px;
    vertical-align: bottom;
    max-width: 50px;
    max-height: 50px;
  }

  .jear p{
    left: 450px;
  }
