* {
    margin: 0 auto;
    padding: 0, auto;
    font-family: 'Raleway', sans-serif;
    background-color: #420f5f;
    scroll-behavior: smooth;
    font-size: calc(0.5rem + 1vw);

}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
    height: 100%;
    padding: 0 0 1em;
}

.description {
    width: 50%;
}

.description p.greeting{
    height: 1.5rem;
    margin: 1em auto;
    text-align: center;
    padding: 2rem 0;
    border: .2em dashed #000000;
    background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),  linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),  linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
}

main .container {
    display: block;
    padding: 0;
}

.line {
    display: block;
    width: 100%;
    height: 1rem;
    border-bottom: .1rem solid #12491b;
}

.about-accor {
    margin: 0.5rem auto;
    width: 70%;
}

.about-accor h1, h3 {
    text-align: center;
}

.about-accor h3 {
    font-weight: 400;
    color: rgba(255, 255, 255, .6)
}

.accor-wrapper {
    width: 70%;
    margin: 0;
}

.accor-wrapper .accor-body {
    width: calc(100% - 4rem);
    height: 0;
    box-sizing: border-box;
    overflow: hidden;
    background-color: #2ead44;
    transition: visibility 0s, opacity 0.5s linear;
}
.accor-wrapper .accor-container img{
    position: static;
    width: 50%;
    height: 50%;
    margin: 1rem 10rem;
    transform: scale();
    transition: all .3s;
}

.mem-img {
    width: 50%;
    background-color: #2ead44;
}

.accor-wrapper p.descr {
    background-color: #2ead44;
}

.accor-wrapper {
    margin: 3rem auto;
    background-color: #2ead44;
}

.accor-wrapper label {
    cursor: pointer;
    background-color: #2ead44;
    display: block;
    padding: .5em 1em;
    width: 100%;
    height: 5%;
    font-weight: 300;
    box-sizing: border-box;
    border-bottom: .1rem solid #420f5f;
    transition: color .35s;
}

.accor-wrapper input{
    max-height: 0;
    transform: scale(0.5);
    margin: 0;
    opacity: 0;
}

.accor-wrapper .accor-descr{
    height: 0.7em;
    display: inline-block;
    text-align: left;
    margin: 0;
    background-color: #2ead44;
}

.accor-wrapper input:checked ~ .accor-descr {
    color: #420f5f;
}


.accor-wrapper .accor-descr .accor-mark {
    content: url(./images/rotate-removebg-preview.png);
    position: static;
    background-color: #2ead44;
    height: 0.7em;
    width: 0.7em;
    font-weight: 700;
    right: 0;
    text-align: right;
    margin-left: 60vw;
    transform: rotate(180deg);
}

.accor-wrapper input:checked  ~ .accor-mark {
    content: url(./images/rotate-removebg-preview.png);
    transform: rotate(180deg);
}

.accor-wrapper input:checked ~ .accor-body{
    height: auto;
    padding: 2rem 1rem 0;
    cursor: pointer;
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height: 2rem;
    width:100%;
    background-color: #fff;
    color: #000;
    border-top: .2em solid #12491b;
  }

footer .container a {
    text-decoration: none;
    font-weight: 700;
    color: #000;
    font-size: .7em;
}

 .container {
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
  }
  .jear p{
    font-weight: 700;
    left: 45rem;
    font-size: .7em;
  }

@media screen and (max-width: 1920px) and (min-width: 830px) {
    .accor-wrapper:hover, input:hover,  .accor-body:hover ~ label.accor-item {
        color: #fff;
    }

    .accor-wrapper input:hover, .accor-body:hover, .accor-body{
        height: auto;
        padding: 2rem 1rem 0;
        cursor: pointer;
    }
}

@media screen and (max-width: 1320px) and (min-width: 430px) {

    .description p{
        width: 85%;
        height: 2.5rem;
        margin: 0.5em auto;
        text-align: center;
        padding: 1rem 0;
        background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),  linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),  linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    }

    .mem-img {
        width: 90%;
        height: 100%;
    }

    .accor-wrapper {
        margin: 3rem auto;
    }

    .accor-wrapper .accor-descr .accor-mark {
        top: -1rem;
    }

}

@media screen and (max-width: 420px) and (min-width: 250px) {
    .accor-wrapper input:checked + label + .accor-body {
        height: 13.5rem;
    }

    .description p{
        text-align: center;
        padding: .7rem 0;
        background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),  linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),  linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);
    }

    .mem-img {
        width: 90%;
        padding: auto;
        margin: auto;
        top: 1rem;
    }

    .accor-wrapper input:checked + label + .accor-body {
        height: 10rem;
        color: #000;
        padding: .4rem .1rem .1rem;
    }

    .accor-wrapper .accor-descr .accor-mark {
        top: -.7rem;
    }
}